h1.C-F {
  font-family: bookman old style;
  font-size: 40px;
  color: #FA8072;
}
p.Greet {
  font-family: Lucida Console;
  font-weight: bold;
  font-size: 30px;
  color: #847e51;
}
form.C-F input {
  color: #FA8072;
  font-weight: bold;
  
}
form.C-F select {
  color: #FA8072;
  font-weight: bold;
}
form.C-F button {
  width: 120px;
  height: 45px;
  background-color: #FA8072;
  color: white;
  font-weight: bold;
  border-style: outset;
  border-radius: 10px;
}
form.C-F input {
  color: #FA8072;
  font-weight: bold;
}
form.C-F {
  color: #FA8072;
  font-weight: bold;
}
